<span style="color:black; font-weight:bold;">Fake News Detection using LSTM</span>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data_fake = pd.read_csv("Fake.csv")
data_true = pd.read_csv("True.csv")

In [3]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
data_fake['class'] = 0
data_true['class'] = 1

In [6]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [7]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis = 0, inplace = True)
                   
data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis = 0, inplace = True)

In [8]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [9]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\hp\AppData\Local\Temp\ipykernel_5728\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\hp\AppData\Local\Temp\ipykernel_5728\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [10]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [11]:
data_merge = pd.concat([data_fake, data_true], axis = 0)
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [12]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [13]:
data = data_merge.drop(['title', 'subject', 'date'], axis = 1)

In [14]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [15]:
data = data.sample(frac = 1)

In [16]:
data.head()

                                                    text  class
647    Donald Trump isn t just losing in the polls, a...      0
18838  A Texas federal judge appointed by Obama has a...      0
14155  Bill Clinton was in Philly today and got swamp...      0
23419  21st Century Wire says Science fiction is now ...      0
6415   The more a Trump run for the White House as a ...      0

In [17]:
data.reset_index(inplace = True)
data.drop('index', axis = 1, inplace = True)

In [18]:
data.columns

Index(['text', 'class'], dtype='object')

In [19]:
data.head()

                                                text  class
0  Donald Trump isn t just losing in the polls, a...      0
1  A Texas federal judge appointed by Obama has a...      0
2  Bill Clinton was in Philly today and got swamp...      0
3  21st Century Wire says Science fiction is now ...      0
4  The more a Trump run for the White House as a ...      0

In [20]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
import pandas as pd

In [21]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['class'], test_size=0.2, random_state=42)

In [22]:
# Tokenize the text data
tokenizer = Tokenizer(num_words=5000, oov_token='<OOV>')
tokenizer.fit_on_texts(X_train)

In [23]:
# Convert the text data to sequences
X_train_seq = tokenizer.texts_to_sequences(X_train)
X_test_seq = tokenizer.texts_to_sequences(X_test)

In [24]:
# Pad the sequences
X_train_padded = pad_sequences(X_train_seq, maxlen=100, padding='post')
X_test_padded = pad_sequences(X_test_seq, maxlen=100, padding='post')

In [25]:
# Define the LSTM model
model = tf.keras.models.Sequential([
    tf.keras.layers.Embedding(5000, 64, input_length=100),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True)),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [26]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [27]:
# Train the model
history = model.fit(X_train_padded, y_train, epochs=10, validation_data=(X_test_padded, y_test))

Epoch 1/10
1122/1122 [==============================] - 225s 185ms/step - loss: 0.0839 - accuracy: 0.9686 - val_loss: 0.0428 - val_accuracy: 0.9846
Epoch 2/10
1122/1122 [==============================] - 191s 170ms/step - loss: 0.0235 - accuracy: 0.9926 - val_loss: 0.0408 - val_accuracy: 0.9892
Epoch 3/10
1122/1122 [==============================] - 194s 173ms/step - loss: 0.0129 - accuracy: 0.9958 - val_loss: 0.0430 - val_accuracy: 0.9865
Epoch 4/10
1122/1122 [==============================] - 200s 178ms/step - loss: 0.0065 - accuracy: 0.9978 - val_loss: 0.0596 - val_accuracy: 0.9873
Epoch 5/10
1122/1122 [==============================] - 189s 169ms/step - loss: 0.0071 - accuracy: 0.9980 - val_loss: 0.0518 - val_accuracy: 0.9880
Epoch 6/10
1122/1122 [==============================] - 182s 162ms/step - loss: 0.0051 - accuracy: 0.9985 - val_loss: 0.0620 - val_accuracy: 0.9856
Epoch 7/10
1122/1122 [==============================] - 173s 154ms/step - loss: 0.0041 - accuracy: 0.9987 - val_loss: 0.0582 - val_accuracy: 0.9873
Epoch 8/10
1122/1122 [==============================] - 174s 156ms/step - loss: 0.0037 - accuracy: 0.9988 - val_loss: 0.0993 - val_accuracy: 0.9809
Epoch 9/10
1122/1122 [==============================] - 177s 158ms/step - loss: 0.0037 - accuracy: 0.9990 - val_loss: 0.0838 - val_accuracy: 0.9837
Epoch 10/10
1122/1122 [==============================] - 184s 164ms/step - loss: 0.0025 - accuracy: 0.9992 - val_loss: 0.0553 - val_accuracy: 0.9883

In [28]:
def predict_news(model, tokenizer, max_sequence_length):
    while True:
        user_input = input("Enter the news headline or text to predict whether it is true or fake: ")
        if user_input.lower() == 'quit':
            break
       
        user_input_seq = tokenizer.texts_to_sequences([user_input])
        user_input_padded = pad_sequences(user_input_seq, maxlen=max_sequence_length)
        
        prediction = model.predict(user_input_padded)
        if prediction[0][0] > 0.5:
            print("The news is true.")
        else:
            print("The news is false.")

predict_news(model, tokenizer, max_sequence_length=100)

1/1 [==============================] - 6s 6s/step
The news is true.
1/1 [==============================] - 0s 118ms/step
The news is false.
1/1 [==============================] - 0s 104ms/step
The news is true.